<section class="row">
  <div class="col-12 col-lg-12">
    <div class="card">
      <p>By: {{user_created}}</p>
      <div class="card-body">
        <p>{{description}}</p>
      </div>
    </div>
  </div>
</section>

{{!-- <div class="card">
    {{#each blogs}}
      <a href="/api/blogs/{{id}}">
        <h5 class="card-header bg-green">{{title}}</h5></a>
      <p>Posted by</p>
      <div class="card-body">
        <p class="card-text">{{body}}</p>
      </div>
    {{/each}}
  </div>
</section> --}}